.vscode/**
.vscode-test/**
src/**
test/**
node_modules/**
out/**
.gitignore
.gitattributes
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/extension.js
*.vsix
*.log
*.bak
*-new.*
*-extracted.*
**/.DS_Store
TUTORIAL_VIDEO_OUTLINE.md
